<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="owin:AppStartup" value="IdentitySample.Startup,IdentitySample" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="ConnectionString" value="[Enter your local MongoDB or MongoDB Atlas connection string here]" />
    <add key="DatabaseName" value="[Enter the name of the identity database you user]" />

    <add key="WorkerBeeCognitoPoolId" value="[Enter the ID of the Worker Bee Cognito Identity Pool]" />
    <add key="QueenBeeCognitoPoolId" value="[Enter the ID of the Queen Bee Cognito Identity Pool]" />
    <add key="FreeBeeCognitoPoolId" value="[Enter the ID of the Free Bee Cognito Identity Pool]" />
    <add key="BeeHiveCognitoPoolId" value="[Enter the ID of the Bee Hive Cognito Identity Pool]" />

    <add key="CognitoDeveloperAccessKeyId" value="[Enter the Access Key Id of your Cognito IAM Power User here]"/>
    <add key="CognitoDeveloperAccessKeySecret" value="[Enter the Access Key Secret of your Cognito IAM Power User here]"/>
  </appSettings>
</configuration>